.btn {
  background-color: lightcoral;
  font-family: monospace;
  padding: 8px;
  border: 2px solid lightyellow;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}


.btn:hover {
    background-color: lightskyblue;
}

.btnclicked {
    background-color: red;
}